{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ recipe_object.title }} - Scrumptious Recipes</title>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">

{% block title %}
    Edit {recipe.title} - Scrumptious Recipes
{% endblock title %}

{% block content%}
<header>
    <nav>
        <a href="{% url 'recipe_list' %}">Main Page</a>
        <a href="{% url 'show_recipe' recipe.id%}">Back</a>
    </nav>
</header>
<main>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Update</button>
    </form>
</main>
{% endblock content %}
<footer>
    <div>Made with love by Scrumptious Recipes</div>

</footer>

</html>
