{% load static %}
<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ recipe_object.title }} -Scrumptious Recipes</title>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
</head>

<body>
    <header>
        <div class="container">
            <nav>
                <a href="{% url 'recipe_list' %}">Main Page</a>
                <a href="{% url 'create_recipe' %}">Create A Recipe</a>

                {% if user.is_authenticated %}
                Hello, {{ user.username }}
                {% else %}
                <a href="{% url 'signup' %}">Sign up</a>
                <a href="{% url 'user_login' %}">Login</a>
                {% endif %}
            </nav>
   </header>

    <main>
        <div class="headline">
            <h1>Scrumptious Recipes</h1>
            <h2>All the food that's fit to eat!</h2>
        </div>
        <div class="container_2">
            <body>
                {% for recipe in recipe_list %}
                    <h3>
                        <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
                    </h3>
                    <img src="{{ recipe.picture }}">
                    <div class="rating">{{ recipe.rating }}</div>
                    <p>{{ recipe.created_on|date:"F j, Y"}}</p>
                {% endfor %}
            </body>
        </div>
    </main>
    <footer>
        <div>Made with love by Scrumptious Recipes</div>

    </footer>
</body>

</html>
