* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    background-color: #73a24e;

}




footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0;
    padding-right: 0;

}

.container {
    color: #f5eec2;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: -1px 1px 2px #39395f,
        1px 1px 2px #39395f,
        1px -1px 0 #39395f,
        -1px -1px 0 #39395f;
    border: solid #39395f 5px;

}

.container_2 {
    color: #f5eec2;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: -1px 1px 2px #39395f,
        1px 1px 2px #39395f,
        1px -1px 0 #39395f,
        -1px -1px 0 #39395f;
    border: solid #39395f 5px;
    padding: 5px;
}

.headline {
    display: grid;
    justify-content: center;
    color: #f5eec2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-shadow: -1px 1px 2px #39395f,
        1px 1px 2px #39395f,
        1px -1px 0 #39395f,
        -1px -1px 0 #39395f;

    background-color: #a9c25d;
    padding: 0;
    margin: 0;

}

img {
    height: 200px;
    padding: auto;
}


tr:nth-child(even) {
    background: #a9c25d;
}

tr:nth-child(odd) {
    background: #416a59;
}

th {
    box-sizing: border-box;
    width: 25%;
    border: solid #39395f 5px;
    padding: 5px;
    background: #a9c25d;
}





header {

    background-color: #39395f;
}

a {
    color: #f5eec2;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: -1px 1px 2px #39395f,
        1px 1px 2px #416a59,
        1px -1px 0 #416a59,
        -1px -1px 0 #416a59;
    text-decoration: none;
    padding-left: 30px;
}

footer {
    background-color: #39395f;
    color: #f5eec2;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 50px;
}

.rating {
    font-family: Arial, Helvetica, sans-serif;
    color: #39395f;

}
